<dom-module id="user-profile">
  <style>
    :host {
      display: block;
    }

    #main {
      background: white;
      padding: 16px;
    }

    paper-card {
      margin-bottom: 16px;
      margin-right: 16px;
    }

    #cards {
    @apply(--layout-vertical);
    @apply(--center-justified);
    }
  </style>
  <template>
    <iron-ajax id="ajax"
               handle-as="json"
               last-response="{{data}}"
               loading="{{loading}}"></iron-ajax>
    <paper-material id="main" elevation="1">
      <div class="horizontal layout wrap">
        <div class="flex">
          <img src="{{data.profile.User.avatar_url}}" height="230" width="230"/>

          <p>{{data.profile.User.name}}</p>

          <p>
            <a href="{{_github(data.profile.User.login)}}" target="_blank">
              <span>{{data.profile.User.login}}</span>
            </a>
          </p>
        </div>
        <div>
          <dl>
            <dt class="paper-font-display1">Followers</dt>
            <dd class="paper-font-display2">{{data.profile.User.followers}}</dd>
            <dt class="paper-font-display1">Public Repos</dt>
            <dd class="paper-font-display2">{{data.profile.User.public_repos}}</dd>
            <dt class="paper-font-display1">Public Gists</dt>
            <dd class="paper-font-display2">{{data.profile.User.public_gists}}</dd>
          </dl>
        </div>
      </div>
    </paper-material>

    <h2 class="paper-font-display2">Repositories</h2>
    <template is="dom-repeat" items="{{_getLanguages(data.profile.Repos)}}" as="language">
      <div id="cards">
        <paper-card heading="{{language}}" elevation="2" class="flex">
          <div class="card-content">
            <template is="dom-repeat" items="{{_getRepos(data.profile.Repos, language)}}" as="repo">
              <paper-item>
                <div class="flex">
                  <template is="dom-if" if="{{repo.Fork}}">
                    <paper-tooltip for="fork">This repo is a fork</paper-tooltip>
                    <iron-icon id="fork" src="/images/fork.png"></iron-icon>
                  </template>
                  <a href="{{_getRepoUrl(data.profile.User.login, repo.Name)}}">{{repo.Name}}</a> -
                  <span>{{repo.Description}}</span>
                </div>
                <div>
                  <span>{{repo.StargazersCount}}</span>
                  <iron-icon icon="star"></iron-icon>
                  <span>{{repo.ForksCount}}</span>
                  <iron-icon src="/images/fork.png"></iron-icon>
                </div>
              </paper-item>
            </template>
          </div>
          <div class="card-actions">
            <a href="{{_getLanguageUrl(language)}}">see all <span>[[language]]</span> users</a>
          </div>
        </paper-card>
      </div>
    </template>
  </template>

  <script>
    (function () {
      Polymer({
        is: 'user-profile',
        properties: {
          user: {
            type: String,
            observer: '_userChanged'
          },
          loading: {
            type: Boolean,
            notify: true,
            value: true
          }
        },
        _userChanged: function () {
          this.$.ajax.url = 'http://' + location.hostname + '/api/profile/' + this.user;
          this.$.ajax.generateRequest();
        },
        _github: function (login) {
          return 'https://github.com/' + login;
        },
        _getLanguages: function (repos) {
          return repos ? Object.keys(repos) : [];
        },
        _getRepos: function (repos, language) {
          return repos ? repos[language] : [];
        },
        _getLanguageUrl: function (lang) {
          return '/language/' + lang;
        },
        _getRepoUrl: function (login, repo) {
          return "https://github.com/" + login + "/" + repo;
        }
      });
    })();
  </script>

</dom-module>
