<script src="../../bower_components/page/page.js"></script>
<script>
  window.addEventListener('WebComponentsReady', function() {

    // We use Page.js for routing. This is a Micro
    // client-side router inspired by the Express router
    // More info: https://visionmedia.github.io/page.js/
    page('/', function () {
      app.route = 'home';
      app.title = 'St. Louis Developers';
      app.tagline = 'index of st louis software developers and designers';
      ga('send', 'pageview', app.route);
    });

    page('/toplangs', function () {
      app.route = 'toplangs';
      app.title = 'Top Languages';
      app.tagline = 'most used programming languages by St. Louisans';
      ga('send', 'pageview', app.route);
    });

    page('/topdevs', function () {
      app.route = 'topdevs';
      app.title = 'Top Developers';
      app.tagline = 'most prolific developers in St. Louis';
      ga('send', 'pageview', app.route);
    });

    page('/profile/:user', function (data) {
      app.route = 'profile';
      app.params = data.params;
      app.title = 'Developer Profile';
      app.tagline = 'the work ' + data.params.user + ' has done';
      ga('send', 'pageview', app.route + '/' + data.params.user);
    });

    page('/language/:language', function (data) {
      app.route = 'language';
      app.params = data.params;
      app.title = data.params.language;
      app.tagline = 'language use in St. Louis';
      ga('send', 'pageview', app.route + '/' + data.params.language);
    });

    // add #! before urls
    page({
      hashbang: true
    });

  });
</script>
