<dom-module id="selected-language">
  <style>
    .user {
      padding: 16px;
      margin-bottom: 16px;
      @apply(--layout-vertical);
      @apply(--center-justified);
    }
    .repo {
      font-weight: bold;
    }
    .info {
      list-style: none;
    }
  </style>
  <template>
    <iron-ajax id="ajax"
               handle-as="json"
               loading="{{loading}}"
               last-response="{{data}}"></iron-ajax>

    <template is="dom-repeat" items="{{data.languages}}">
      <paper-card heading="{{item.Owner}}" elevation="1" class="user">
        <div class="card-content horizontal layout">
          <div>
            <ul class="info">
              <li><span>{{_numStars(item.Repos)}}</span> stars in <span>[[data.language]]</span></li>
              <li><span>{{_numRepos(item.Repos)}}</span> repos in <span>[[data.language]]</span></li>
            </ul>
          </div>
          <div class="flex">
            <ul>
              <template is="dom-repeat" items="{{_topThree(item.Repos)}}" as="repo">
                <li>
                  <span class="repo">[[repo.Name]]</span>
                  <template is="dom-if" if="[[repo.Description]]">-</template>
                  <span>[[repo.Description]]</span>
                </li>
              </template>
            </ul>
          </div>
        </div>
        <div class="card-actions">
          <a href="{{_getProfileLink(item.Owner)}}">see all of <span>[[item.Owner]]</span>'s projects</a>
        </div>
      </paper-card>
    </template>
  </template>

  <script>
    (function() {
      Polymer({
        is: 'selected-language',
        properties: {
          language: {
            type: String,
            observer: '_languageChanged'
          },
          loading: {
            type: Boolean,
            notify: true
          }
        },
        _languageChanged: function() {
          this.$.ajax.url = 'http://' + location.hostname + '/api/lang/' + this.language;
          this.$.ajax.generateRequest();
        },
        _numStars: function(repos) {
          var sum = 0;
          for (var i=0; i < repos.length; i++) {
            sum += repos[i].StargazersCount;
          }
          return sum;
        },
        _numRepos: function(repos) {
          return repos.length;
        },
        _topThree: function(repos) {
          var three = [];
          for (var i=0; i < repos.length && i < 3; i++) {
            three.push(repos[i]);
          }
          return three;
        },
        _getProfileLink: function(user) {
          return "/profile/" + user;
        }
      });
    })();
  </script>

</dom-module>
