<dom-module id="my-greeting">
  <style>
    :host {
      display: block;
    }
  </style>
  <template>
    <h2 class="paper-font-display2">Hello world!</h2>
    <p>
      This is a site for discovering what open source work
      developers are doing in the Greater St. Louis
      region.
    </p>

    <p>
      This site harvests public information from Github.
      If a user on Github has self-identified as being
      from St. Louis, they are included here. You may
      also log in to this site and request to be included
      if you are from St. Louis or identify as a St. Louisan.
    </p>

    <h2 class="paper-font-display1">Did you know?</h2>

    <p>
      There are over 1,000 developers from St. Louis on
      Github that have pushed to over 4,000 code repositories.
    </p>

    <p>
      The creator of the <a href="/profile/kemayo">sublime-text
      git plugin</a> is from St. Louis. Another St. Louisan
      created a <a href="/profile/madoublet">JavaScript CMS</a>
      and yet another made a <a href="/profile/philcryer">
      Dropbox-like sync tool</a> in pure shell script!
    </p>

    <p>
      We have many talented and driven developers here and
      this site's goal is to show off our projects to the city
      and the rest of the world.
    </p>

    <h2 class="paper-font-display1">Contribute</h2>

    <p>
      If you would like to help development,
      <a href="http://github.com/jakecoffman/stldevs">fork on
      Github</a> or at least drop me a star! ;)
    </p>
  </template>

  <script>
    (function() {
      Polymer({
        is: 'my-greeting'
      });
    })();
  </script>

</dom-module>
